body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px; 
  color: #1D262F;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0 0 1rem;
}

*,
*:before,
*:after{
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
}

.header {
  position: relative;
  box-shadow: 0px 0px 10px 0px #00000014;

}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
}

.nav_link {
  margin-right: 115px;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #1D262F;
  text-decoration: none;
}
.nav_link:hover {
  border-bottom: 3px solid #2F80ED;
  padding: 0 0 4px;
}

.intro_inner {
  display: flex;
  flex-wrap: wrap;
}

.intro_name {
  max-width: 750px;
  padding-top: 120px;
  font-size: 95px;
  font-style: normal;
  font-weight: 800;
  line-height: 155px;
  letter-spacing: 0em;
  text-align: left;
}

.intro_job {
  padding-top: 120px;
  color: #2F80ED;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
  text-align: right;
}
.frontend {
  padding-top: 300px;
  background-image: url(img/FRONTEND.png);
  background-repeat: repeat-x;
  background-position: center bottom;
  height: 185px;
}

.about {
  padding-top: 100px;
}

.me_pic {
  max-width: 520px;
  border-bottom: 85px solid #ecf1f7;
}

.right_content  {
  max-width: 500px;
  padding-left: 110px;
}

.about_inner {
  display: flex;
  flex-wrap: wrap;
}

.right_content div {
  color: #2F80ED;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.right_content h2 {
  padding-top: 20px;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: 83px;
  letter-spacing: 0em;
  text-align: left;
}

.right_content p {
  padding-top: 80px;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.skills_sub {
  color: #2F80ED;
  padding-top: 170px;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.skills_title h3 {
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: 83px;
  letter-spacing: 0em;
  text-align: left;
}

.works_title {
  text-align: right;
}

.works_sub {
  color: #2F80ED;
  padding-top: 170px;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: 0em;

}

.works_title h3 {
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: 83px;
  letter-spacing: 0em;
  margin-bottom: 80px;
}

.work_inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.work_inner p {
  margin: 0 auto;
  padding: 90px 70px 0px 70px;

  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 185.8%;
  color: #1D262F;
}

.work_one {
  margin-right: 10px;
  width: 520px;
  height: 457px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  background: #f7f9fb;
  border: 3px solid #ffffff;
}

.work_one:hover {
  border: 3px solid #2F80ED;
}

.work_one div {
  padding: 80px 0px 0px 70px;
  font-weight: 300;
  font-size: 16px;
  line-height: 185.8%;
  color: #000000;
  opacity: 0.2;
  
}

.work_two {
  margin-top: 125px;
  margin-left: 10px;
  width: 520px;
  height: 457px;
  left: 0px;
  background: #f7f9fb;
  top: 0px;
  border-radius: 0px;
  border: 3px solid #ffffff;
}

.work_two:hover {
  border: 3px solid #2F80ED;
}

.work_two div {
  padding: 80px 0px 0px 70px;
  font-weight: 300;
  font-size: 16px;
  line-height: 185.8%;
  color: #000000;
  opacity: 0.2;
}

.work_three {
  margin-top: -105px;
  margin-right: 10px;
  width: 520px;
  height: 457px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  background: #f7f9fb;
  border: 3px solid #ffffff;
}

.work_three:hover {
  border: 3px solid #2F80ED;
}

.work_three div {
  padding: 80px 0px 0px 70px;
  font-weight: 300;
  font-size: 16px;
  line-height: 185.8%;
  color: #000000;
  opacity: 0.2;
}

.work_four {
  margin-top: 20px;
  margin-left: 10px;
  width: 520px;
  height: 457px;
  left: 0px;
  background: #f7f9fb;
  top: 0px;
  border-radius: 0px;
  border: 3px solid #ffffff;
}

.work_four:hover {
  border: 3px solid #2F80ED;
}

.work_four div {
  padding: 80px 0px 0px 70px;
  font-weight: 300;
  font-size: 16px;
  line-height: 185.8%;
  color: #000000;
  opacity: 0.2;
}

.work_five {
  margin-top: -105px;
  margin-right: 10px;
  width: 520px;
  height: 457px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  background: #f7f9fb;
  border: 3px solid #ffffff;
}

.work_five:hover {
  border: 3px solid #2F80ED;
}

.work_five div {
  padding: 80px 0px 0px 70px;
  font-weight: 300;
  font-size: 16px;
  line-height: 185.8%;
  color: #000000;
  opacity: 0.2;
}

.work_six {
  margin-top: 20px;
  margin-left: 10px;
  width: 520px;
  height: 457px;
  left: 0px;
  background: #f7f9fb;
  top: 0px;
  border-radius: 0px;
  border: 3px solid #ffffff;
}

.work_six:hover {
  border: 3px solid #2F80ED;
}

.work_six div {
  padding: 80px 0px 0px 70px;
  font-weight: 300;
  font-size: 16px;
  line-height: 185.8%;
  color: #000000;
  opacity: 0.2;
}

.contact {
  padding-top: 170px;
}

.contact_sub {
  color: #2F80ED;
  padding-top: 170px;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: 0em;

}

.contact_title h3 {
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0em;
  padding-bottom: 80px;
}

.contact_email {
  height: 45px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.email_ico {
  padding-top: 15px;
  padding-right: 20px;
}

.email_text {
  text-decoration: none;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 46px;
  text-align: left;
  color: #1D262F;
}
  
.like_inner {
  padding-top: 430px;
  padding-bottom: 320px;
  text-align: center;
}