:root {
  --black:#1D262F;
  --blue:#2F80ED;
  --gray:#5C87AF;
  --red:#F44336;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px; 
  color: #1D262F;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0 0 1rem;
}

*,
*:before,
*:after{
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1060px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

.header {
  padding: 1.2rem 0;
  position: relative;
}

.header_inner {
  display: flex;
}